<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS
        <link rel="stylesheet" href="/css/syntax.css">
        Custom CSS
        <link rel="stylesheet" href="/css/main.css">
        Custom CSS -->
        <link rel="stylesheet" href="/css/all.css" />

        <!--link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css' -->
    </head>
    <body class="nextia">
        
        <nav class="main-nav">
          <ul>
            <li>
              <a href="/acerca">
                Nextia
              </a>
            </li>
            <li>
              <a href="/servicios/">
                Servicios
              </a>
            </li>

            <li>
              <a href="/proyectos/">
                Proyectos
              </a>
            </li>

            <li>
              <a href="/contacto/">
                Contacto
              </a>
            </li>
          </ul>
        </nav>
        

        <header class="main-header">
          <hgroup class="header-bg">
          <div class="header-mask-left"></div>
          <div class="header-mask-right"></div>
            <h1>Nextia</h1>
            <h2>Internet Services</h2>
          </hgroup>
          
          <div class="header-decoration">
            
          </div>
        </header>

        <div class="container">
          <div class="content"> 
            {{content}}  
          </div>
        </div>

        <footer>
        </footer>
    </body>
</html>
