html,
body {
  font-family: 'News Cycle', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
  color: #333;
}
.container {
  width: 100%;
  margin-top: 40px;
  padding: 30px 0;
}
.container .content {
  width: 960px;
  margin: 0 auto;
}
.container h1,
.container h2,
.container h3 {
  color: #94002d;
}
.main-nav {
  width: 100%;
  height: 40px;
  background-color: #1f7d63;
  box-shadow: 0 0 2px #000;
  position: absolute;
  top: 320px;
}
.main-nav ul {
  padding: 0;
  margin: 0 auto;
  width: 960px;
  list-style: none;
}
.main-nav li {
  display: inline-block;
  height: 40px;
  margin-left: 4px;
}
.main-nav li:first-child {
  margin-left: 0;
}
.main-nav li a {
  color: #e8fc3f;
  display: block;
  line-height: 40px;
  padding: 0 4px;
  text-decoration: none;
}
.main-nav li a:hover {
  color: #fff;
}
.main-header {
  height: 320px;
}
.main-header .header-bg {
  background-position: center 45%;
}
.main-header h1 {
  margin: 0;
  text-align: left;
  line-height: 210px;
  color: #e40045;
  font-size: 3em;
  text-shadow: 7 0 0px #fff;
}
.main-header h2 {
  line-height: 80px;
  text-align: center;
  margin: 0;
  color: #4682b4;
}
.circle {
  width: 200px;
  background-color: #000;
  height: 200px;
  border-radius: 100px;
}
footer {
  height: 160px;
  background-color: #1f7d63;
}
