panel-width 	= 960px
nav-height		= 40px
air-space 		= 4px
header-height 	= 320px
white = rgba(255,255,255, 0.5)

html
body
	font-family 'News Cycle', sans-serif
	margin 0
	padding 0
	background-color #fbfbfb
	color #333

.container 
	width 100%
	margin-top nav-height
	padding 30px 0
	.content 
		width panel-width
		margin 0 auto
	h1
	h2
	h3
		color #94002D


.main-nav
	width 100%
	height nav-height
	background-color #1F7D63
	box-shadow 0 0 2px black
	position absolute
	top header-height
	ul
		padding 0
		margin 0 auto
		width panel-width
		list-style none
	li 
		
		display inline-block
		height @height
		margin-left air-space
		&:first-child
			margin-left 0
		a
			color #E8FC3F
			display block
			line-height @height
			padding 0 air-space
			text-decoration none
			

			&:hover 
				color white

.main-header
	height header-height
	background-color #1F7D63
	.header-bg
		background-position center 45%
		background-image url(../img/launch.jpg)

		background-size 100% auto
		height header-height
		width panel-width
		margin 0 auto




	.header-mask-left
		width:100px
		height 100%
		float left
		background linear-gradient(to right rgba(31,114,105, 0) 0% rgba(31,114,105, 0) )

	h1
		margin 0 0 0 18px
		text-align left
		padding-top 60px
		color #E40045
		font-size: 3.4em
		text-shadow 1px 0px 1px white, 0px 1px 1px white, -1px 0px 1px white,  0px -1px 1px white

	h2 
		margin 0 0 0 18px
		font-size 2.1em
		color #E8FC3F
		text-shadow 1px 0px 1px white, 0px 1px 1px white, -1px 0px 1px white,  0px -1px 1px white

.circle 
	width:200px 
	background-color #E8FC3F
	height 200px
	border-radius 100px



footer 
	height 160px
	background-color #1F7D63	
